<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-3">Filter by:
        <input type="text"
               [ngModel]="(filter$ | async)"
               (ngModelChange)="doFilter($event)" />
      </div>
      <div class="col-md-3">Page: {{ (currentPage$ | async)}} of {{totalPages$ | async}}
        <button class="btn btn-light"
                (click)="setPage(-1)"
                [disabled]="disablePrevious$ | async">Prev</button>
        <button class="btn btn-light"
                (click)="setPage(1)"
                [disabled]="disableNext$ | async">Next</button>
      </div>
      <div class="col-md-3">Show Results:
        <button class="btn btn-light"
                *ngFor="let pageSize of pageSizes"
                (click)="setPageSize(pageSize)"
                [ngClass]="{'active': pageSize === selectedButton}">
          {{ pageSize }}
        </button>
      </div>
      <div class="col-md-3">Total Results: {{ totalResults$ | async }}</div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="products$ | async as products">
        <thead>
          <tr>
            <th>
              <button class="btn btn-outline-primary btn-sm"
                      (click)="toggleImage()">
                {{showImage ? "Hide" : "Show"}} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>
              <img *ngIf="showImage && product.imageUrl"
                   [src]="product.imageUrl"
                   [title]="product.productName"
                   [style.width.px]="50"
                   [style.margin.px]="2">
            </td>
            <td>
              <a [routerLink]="[product.id]">
                {{ product.productName }}
              </a>
            </td>
            <td>{{ product.productCode }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency:"USD":"symbol":"1.2-2" }}</td>
            <td>
              <pm-star [rating]="product.starRating">
              </pm-star>
            </td>
            <td>
              <button class="btn btn-outline-primary btn-sm">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>